#content{
    display:flex;
    justify-content:center;
}
#header{
    display:block;
    background-color: #fed65d;
}
#pageTop{
    background-color: #408CFF;
    color: white;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
#format{
    margin-left: 40px;
}
.button{
    background-color: #fed65d;
    border: solid 2px #fed65d;
    width: 15%;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin-left: 15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.content{
display:flex;
justify-content: center;
}
.contentText{
    width: 24.5%;
    font-family: 'Roboto', sans-serif;
}
.imgButton{
    height:25px;
    display: flex;
    justify-content:center;
    opacity: 0.3;
}
.contentImg {
    position: relative;
    width: 46%;
    display: flex;
    justify-content:center;
}
.contentImg slides {
    width: 100%;
    height: auto;
}
.contentImg .imgButtonLeft {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.contentImg .imgButtonRight {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.active, .button:hover {
    background-color: #d1b854;
}
.contentMbr{
    display: flex;
    justify-content: center;
}
.divImg{
 width:35%;   
}
.mbrList{
    width: 45%;
}
